name: Development Build

on:
  push:
    branches:
      - develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
        mvn clean package
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2.2.4
      with:
        name: TradeSystem
        path: TradeSystem-Bundle/target/*.jar
